<div>
  <nav *ngIf="loaded"
       class="navbar navbar-dark bg-dark pb-0">
    <span class="navbar-brand mb-0 mr-1 h1 text-warning">
      Strava Heat Map
    </span>

    <span class="navbar-text home mr-auto mt-1">
      <a (click)="goHome()"
         [routerLink]=""><i class="fas fa-home fa-lg ml-1 mr-1"></i></a>
      | <a (click)="goCurrentLocation()"
         [routerLink]=""><i class="fas fa-map-marker-alt fa-lg ml-1 mr-1"></i></a>
      | <a href="https://www.strava.com/activities/{{lastVisibleActivity.id}}"
         target="_blank">
        <i class="fas fa-running fa-lg ml-1 mr-1"
           *ngIf="isRun(lastVisibleActivity)"></i>
        <i class="fas fa-biking fa-lg ml-1 mr-1"
           *ngIf="isRide(lastVisibleActivity)"></i>
        {{lastVisibleActivity.start_date | timeSince}}</a>
    </span>

    <span class="navbar-text small summary pt-0 pb-0 mb-2 mt-n1"
          *ngIf="loaded">
      {{distanceToMiles(totalDistance) | number:'1.0-0'}} Miles<span class="text-warning"> | </span>
      {{secondsToHours(totalSeconds) | number:'1.0-0'}} Hours<span class="text-warning"> | </span>
      {{runCount}} Runs<span class="text-warning"></span><span class="text-warning"> | </span>
      {{rideCount}} Rides<span class="text-warning"></span>
    </span>


  </nav>

  <div class="d-flex justify-content-center mt-5"
       *ngIf="authenticating || loading">
    <div class="spinner-border text-warning"
         role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5 text-warning"
       *ngIf="authenticating || loading">
    <h2 *ngIf="authenticating">Authenticating...</h2>
    <h2 *ngIf="loading">Loading...</h2>
  </div>

  <div class="controls"
       *ngIf="loaded">

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item flex-fill text-white bg-secondary"
          [ngClass]="{'bg-warning text-dark': currentView == view.Day}"
          (click)="filterChanged(view.Day)">
        Day
      </li>
      <li class="list-group-item flex-fill text-white bg-secondary"
          [ngClass]="{'bg-warning text-dark': currentView == view.Week}"
          (click)="filterChanged(view.Week)">
        Week
      </li>
      <li class="list-group-item flex-fill text-white bg-secondary"
          [ngClass]="{'bg-warning text-dark': currentView == view.Month}"
          (click)="filterChanged(view.Month)">
        Month
      </li>
      <li class="list-group-item flex-fill text-white bg-secondary"
          [ngClass]="{'bg-warning text-dark': currentView == view.Year}"
          (click)="filterChanged(view.Year)">
        Year
      </li>
      <li class="list-group-item flex-fill text-white bg-secondary"
          [ngClass]="{'bg-warning text-dark': currentView == view.All}"
          (click)="filterChanged(view.All)">
        All
      </li>
    </ul>
  </div>

  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
