$highlight-color: #ffc107;
$runs-color: #e63419;
$rides-color: #2b54d4;

.view {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.summary {
  white-space: nowrap;
}

.map-container {
  flex: 1 1 auto;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.slider-container {
  padding: 0 15px;
}

.controls {
  margin-bottom: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $highlight-color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $highlight-color;
  cursor: pointer;
}

.legend {
  display: inline-block;
  padding: 0 0.4em;
  font-size: 75%;
  text-align: center;
  vertical-align: top;
  color: white;
}

/* TOOGLE SWICH */
.switch {
  display: inline-block;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0;
}

.onoffswitch {
  position: relative;
  width: 75px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid $highlight-color;
  border-radius: 3px;
  margin-bottom: 0;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 16px;
  padding: 0;
  line-height: 16px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: 'ON';
  padding-left: 7px;
  background-color: $highlight-color;
  color: #ffffff;
}

.onoffswitch-inner:after {
  content: 'OFF';
  padding-right: 7px;
  background-color: #ffffff;
  color: #919191;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 0;
  background: #ffffff;
  border: 2px solid $highlight-color;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.switch.runs {
  margin-left: 10px;

  .onoffswitch-inner:before {
    content: 'RUNS';
    background-color: $runs-color;
  }

  .onoffswitch-label {
    border: 2px solid $runs-color;
  }

  .onoffswitch-switch {
    border: 2px solid $runs-color;
  }

  .onoffswitch-inner:after {
    content: 'RUNS';
  }
}

.switch.rides {
  margin-left: 10px;
  margin-right: 15px;

  .onoffswitch-inner:before {
    content: 'RIDES';
    background-color: $rides-color;
  }

  .onoffswitch-label {
    border: 2px solid $rides-color;
  }

  .onoffswitch-switch {
    border: 2px solid $rides-color;
  }

  .onoffswitch-inner:after {
    content: 'RIDES';
  }
}

.switch.overlay {
  .onoffswitch-inner:before {
    content: 'OVERLAY';
  }

  .onoffswitch-inner:after {
    content: 'OVERLAY';
  }
}
